.offerCard {
  margin: 10px;
}
.offerNav i {
  color: green;
}
.offerCard.card {
  width: 40%;
  margin-top: 5px;
}

.offerCard .card img {
  width: 100%;
}

.offerCard .card-title {
  color: rgb(95, 92, 92);
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: -7px;
}

@media only screen and (max-device-width: 374px) {
  .offerCard {
    margin: 10px;
  }

  .offerCard .card {
    width: 100%;
    margin-top: 5px;
  }

  .offerCard .card img {
    width: 100%;
  }

  .offerCard .card-title {
    color: rgb(95, 92, 92);
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -7px;
  }
}
