.containerprofile {
  background-color: rgb(185, 178, 178);
  font-family: Lato, sans-serif;
}
.Nav {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  background-color: #333;
  margin: 3px;
  margin-left: 5px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.rowProfile {
  padding-left: 10px;
  margin-top: -7px;
  width: 100%;
  background-color: white;
  height: 130px;
  padding-top: 10px;
  font-size: 12px;
}
.colProfile {
  float: left;
  width: 25%;
  text-align: center;
}
.colProfile span {
  padding-top: 100px;
}
.colProfile img {
  width: 80px;
  height: 80px;
}

.vaccination {
  margin-top: 5px;
  padding-left: 10px;
  background-color: white;
  width: 100%;
  height: 130px;
}
.vaccination p {
  font-size: 12px;
}
.VacImg {
  width: 10%;
}

.colVac {
  padding-left: 10px;
  font-size: 14px;
  width: 80%;
  float: left;
}
.VacImg img {
  width: 40px;
  height: 40px;
  float: left;
}

.vaccination button {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
}

.activeLevel {
  padding-top: 5px;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  padding-left: 10px;
  height: 122px;
  font-size: 14px;
}
.activeImg {
  width: 100%;
  float: left;
}
.colActive {
  width: 25%;
  float: left;
  font-size: 14px;
}
.activeLevel img {
  width: 40px;
  height: 40px;
}

.activeRow1 {
  width: 100%;
}
.activeLearn {
  width: 50%;
  float: left;
}
.reputation {
  width: 100%;
  height: 86px;
  background-color: white;
  padding-top: 5px;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 12px;
}
.colReputation {
  width: 33%;
  float: left;
}
.titleReputation {
  width: 100%;
  height: 37px;
}
.rCol {
  width: 50%;
  float: left;
}
.repuRow2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.reputation p {
  font-size: 14px;
}

.reputation img {
  width: 30px;
  height: 30px;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.repuRow2 {
  -webkit-overflow-scrolling: touch;
}
.Leaderboard {
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 5px;
  background-color: white;
  height: 128px;
}
.rowLeader {
  width: 100%;
}
.colLeader {
  width: 50%;
  float: left;
}
.Sports {
  background-color: white;
  width: 100%;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 5px;
  height: 200px;
}
.btnCricket {
  background-color: green;
}

.rowOverll {
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  background-image: url(./g.png);
}

.colOverall {
  width: 50%;
  float: left;
}

@media only screen and (max-device-width: 374px) {
  .containerprofile {
    background-color: rgb(185, 178, 178);
    font-family: Lato, sans-serif;
  }
  .Nav {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 18px;
    height: 2px;
    background-color: #333;
    margin: 3px;
    margin-left: 5px;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .rowProfile {
    padding-left: 10px;
    margin-top: -7px;
    width: 100%;
    background-color: white;
    height: 130px;
    padding-top: 10px;
    font-size: 12px;
  }
  .colProfile {
    float: left;
    width: 25%;
    text-align: center;
  }
  .colProfile span {
    padding-top: 100px;
  }
  .colProfile img {
    width: 80px;
    height: 80px;
  }

  .vaccination {
    margin-top: 5px;
    padding-left: 10px;
    background-color: white;
    width: 100%;
    height: 130px;
  }
  .vaccination p {
    font-size: 12px;
  }
  .VacImg {
    width: 10%;
  }

  .colVac {
    padding-left: 10px;
    font-size: 14px;
    width: 80%;
    float: left;
  }
  .VacImg img {
    width: 40px;
    height: 40px;
    float: left;
  }

  .vaccination button {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
  }

  .activeLevel {
    padding-top: 5px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    padding-left: 10px;
    height: 122px;
    font-size: 14px;
  }
  .activeImg {
    width: 100%;
    float: left;
  }
  .colActive {
    width: 25%;
    float: left;
    font-size: 14px;
  }
  .activeLevel img {
    width: 40px;
    height: 40px;
  }

  .activeRow1 {
    width: 100%;
  }
  .activeLearn {
    width: 50%;
    float: left;
  }
  .reputation {
    width: 100%;
    height: 86px;
    background-color: white;
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 12px;
  }
  .colReputation {
    width: 33%;
    float: left;
  }
  .titleReputation {
    width: 100%;
    height: 37px;
  }
  .rCol {
    width: 50%;
    float: left;
  }
  .repuRow2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .reputation p {
    font-size: 14px;
  }

  .reputation img {
    width: 30px;
    height: 30px;
  }
  .dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }

  .repuRow2 {
    -webkit-overflow-scrolling: touch;
  }
  .Leaderboard {
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 5px;
    background-color: white;
    height: 128px;
  }
  .rowLeader {
    width: 100%;
  }
  .colLeader {
    width: 50%;
    float: left;
  }
  .Sports {
    background-color: white;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    height: 200px;
  }
  .btnCricket {
    background-color: green;
  }

  .rowOverll {
    width: 100%;
    border-radius: 2px;
    margin-top: 10px;
    background-image: url(./g.png);
  }

  .colOverall {
    width: 50%;
    float: left;
  }
}
