/* 

.card-img-top{
    width:50%; height:50%;
    justify-content: center;
}
.card{
    width: 100px;
}

.card {
    display: inline-block;
   
    vertical-align: middle;
  }


element.style {
    width: none;
} */
